.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  background-color: #fff;
  background-image: linear-gradient(25deg, #077f7c, #3aa693, #5ecfaa, #7ffac2);
}

.login-container {
  width: 380px;
  height: 480px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.2);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px 0;
}

.head img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.head .title {
  font-size: 28px;
  color: #1baeae;
  font-weight: bold;
}

.head .tips {
  font-size: 14px;
  color: #999;
}

.login-form {
  width: 70%;
  margin: 0 auto;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
}

.login-form .el-form-item {
  margin-bottom: 12px;
}
